@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom styles */
.duration-2000 {
  transition-duration: 2000ms;
}

.duration-2500 {
  transition-duration: 2500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 3s ease-in forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 2s ease-in forwards;
}

/* Extra Fonts */

@font-face {
  font-family: 'Volte';
  src: url('/fonts/volte/Fontspring-DEMO-volte-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Volte';
  src: url('/fonts/volte/Fontspring-DEMO-volte-bolditalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Volte';
  src: url('/fonts/volte/Fontspring-DEMO-volte-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Volte';
  src: url('/fonts/volte/Fontspring-DEMO-volte-lightitalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Volte';
  src: url('/fonts/volte/Fontspring-DEMO-volte-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Volte';
  src: url('/fonts/volte/Fontspring-DEMO-volte-mediumitalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Volte';
  src: url('/fonts/volte/Fontspring-DEMO-volte-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Volte';
  src: url('/fonts/volte/Fontspring-DEMO-volte-regularitalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Volte';
  src: url('/fonts/volte/Fontspring-DEMO-volte-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Volte';
  src: url('/fonts/volte/Fontspring-DEMO-volte-semibolditalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
